* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}


.header {
    width: 100%;
   overflow: hidden;
    background-color: lightcoral;
}

.logo {
    float: left;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.social-link {
    float: right;
    padding: 20px;
}

.social-link a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}


.navbar {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    clear: both;
}

.links {
    width: 400px;
    margin: 0 auto;
    padding-top: 15px;
}

.links a {
    float: left;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.aside {
    width: 25%;
    height: 400px;
    background-color: lightgray;
    float: left;
    padding: 20px;
}

.main {
    width: 75%;
    min-height: 400px;
    background-color: lightyellow;
    float: right;
    padding: 20px;
}

.box {
    width: 30%;
    height: 350px;
    float: left;
    margin-right: 3.3%;
    background-color: white;
    padding: 10px;
    text-align: center;
}



.box img {
    width: 100%;
    height: 150px;
}


.footer {
    width: 100%;
    height: 50px;
    background-color: gray;
    clear: both;
    text-align: center;
    line-height: 50px;
    color: white;
}
