.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}

.heading {
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  width: 60%;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.addButton {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}
