
.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 40px;
}

.movie-card {
  background-color: #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}



.movie-image-container {
  width: 100%;
  aspect-ratio: 2 / 2.5;   
  overflow: hidden;
}


.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  object-position: center; 
  display: block;
}


.book-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

