.success-container {
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #1c1c1c;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.success-container h2 {
  margin-bottom: 20px;
}

.booking-id {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.success-container p {
  margin: 8px 0;
  font-size: 16px;
}
